page-home {

        .background{
            background: linear-gradient(20deg,rgb(19, 21, 42),rgba(205, 207, 204, 0.979));
            
        }
        
        
        .scroll-bar-indicator
        {
            display: none;
        }
        .scroll-content {
            overflow-y: auto;
        }
        // .ion-card {
        //     position: relative;
        //     text-align: center;
        //   }
        
        
          .card-title {
            position: absolute;
            top: 60%;
            font-size: 1.0em;
            width: 100%;
            font-weight: bold;
            color: rgba(240, 9, 9, 0);
          }
          .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: relative !important;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            align-content: stretch;
        }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 0%;
            width: 100%;
            color:rgb(165, 54, 54);
           
          }
          .card-subtitle_details {
            font-size: 1.0em;
            position: left;
            float: left;
            top: 80%;
            width: 100%;
            color:black;
           
          }
          .button-md{
            //   height: 0 !important;
              padding: 0 !important;
              margin: 0 !important;
          }
          .button-clear-md{
              color:black;
          }
          
          .card-md{
              margin:0 !important;
              width: 100% !important;
           
          }
          .grid{
              padding:0 !important;
              margin-left:0 !important;
              margin-right: 0 !important;
              display: block !important;

          }
          .col{
              padding: 2px !important;
          }
          
        
    
}
